@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.field-option input:checked + .field-circle::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: relative;
  top: 4px;
  left: 4px;
  background-color: #9db2be;
  border-radius: 50%;
}

.field-circle {
  position: relative;
  height: 24px;
  width: 24px;
  display: block;
  border: 3px solid #9db2be;
  border-radius: 50%;
}
